header{

 position: fixed;
 background: #ffffff;
 z-index: 2; /*cuando se superponen al tener mayor valor que el , el va primero*/

 width: 100%;
 top:0px;
}
.barra{

  width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.search{

  display: inline-block;
  position: relative;
  left:20px;
  width: 940px;
  background:#efefef;
  border-radius: 10px;
  height: 45px;
}

p{
  display: inline-block;
  position: relative;
  left: 55px;
  font-family:Helvetica;

}

.icon-pinterest{
  font-size: 45px;
  color: #bd081c;
  position: relative;
  top:10px;
}

.icon-search{
  position: relative;
  left:45px;
  font-size: 18px;
}

input{
  position: relative;
  left:47px;
  width: 700px;
  border: none;
  background: #efefef;
  font-size: 18px;
}

.icon-cross{
  position: relative;
  left:47px;
}

.icon-circle-down{
  position: relative;
  left: 56px;
  font-size: 20px;
  top:4px;
}

.icon-user{
  position: relative;
  left:55px;
  font-size: 20px;
  color: #b5b5b5;
}

.icon-menu{
  position: relative;
  left:80px;
  font-size: 20px;
  color: #b5b5b5;
}

.icon-bubble{
  position: relative;
  left: 105px;
  font-size: 25px;
  color: #b5b5b5;
}

hr{
  height: 1px;
  border: none;
  background:#d3d3d3;
  left: 0px;
}
li{
  list-style: none;
  display: inline-block;

  height: 20px;
  padding: 15px;
  padding-top: 23px;
  font-family: sans-serif;
  margin-right: 12px;
  border-radius: 10px;
  color:#fff;
  font-weight: bold;
}

nav{
  padding-left: 115px;
}

#cheat{
  background: #38925E;
}

#tutorial{
  background: black;
}

#code{
  background: #38925E;
}

#fun{
  background:black;
}

#programing{
  background: #38925E;
}

#project{
  background: black;
}

#post{
  background: #38925E;
}

#medium{
  background: black;
}

main{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 170px;
  overflow: auto;

}

img{

  margin-right: 9px;
  margin-bottom: 10px;
  border-radius: 8px;
  z-index:1; /*cuando de superpone al header al tener el menor valor baja*/
  float:left;
  position: relative;
  left: 35px;
  width: 13%
}
input:focus{
  outline: 0px;
}
